*{
     margin: 0;
     padding: 0;
     text-align: center;
}

h1{
    background-color:#CDB4DB;
    color: white;
    height: 5rem;
    line-height: 5rem;
}
h1:hover{
    /*opacity: 0.5;*/
    cursor: pointer;
    background-color:#cca9e0; 
}

.choice{
    height: 165px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    /*opacity: 0.5;*/
    cursor: pointer;
    background-color: #FFC8DD;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: 2px solid #FFAFCC;
}

.choices{
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:  2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#comp-score{
    font-size: 4rem
}

.msg-container{
    margin-top:5rem;
}

#msg{
    background-color: #4e87bc;
    color:whitesmoke;
    font-size: 1rem;
    display: inline;
    padding: 1rem;
    border-radius: .5rem;
    border: 2px solid #A2D2FF ;
}
#msg:hover{
    /*opacity: 0.5;*/
    cursor: pointer;
    background-color:#A2D2FF ;
    border: 2px solid #4e87bc ;
}



/* colors
CDB4DB
FFC8DD
FFAFCC
BDE0FE
A2D2FF*/